.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#new-story {
  padding: 7px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-width: 1px;
  background-color: green;
  color: white;
}

.dropdowns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.dropdowns select {
  padding: 3px;
  border-radius: 5px;
}

textarea {
  width: 45%;
  height: 100px;
  border-radius: 5px;
  resize: vertical;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

footer {
  padding: 15px;
}