@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.App {
  text-align: center;
}

.header {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
}

.header h1 {
  margin: 0 0 20px;
  margin-top: 20px;
}

.new-div {
  margin-bottom: 20px;
}

.dropdowns {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-bottom: 20px;
}

.dropdowns select {
  padding: 9px;
  padding-left: 1px;
  border-radius: 20px;
  font-size: 25px;
  font-family: "Bangers", system-ui;
  font-weight: 50;
  font-style: normal;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  width: 6em;
  /* remove native arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* 2. custom arrow as background */
  background-image: url("\\arrow4.png");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
  padding-right: 1.5em;
}

.loading {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #3581fc;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

textarea {
  width: 45%;
  min-height: 4em;
  height: auto;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 15px;
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.6);
  /* remove resize element */
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea::selection {
  background: rgba(115, 115, 115, 0.3);
}

.image img {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 40%;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px rgb(0, 0, 0, 0.1);
  /* smooth animation for hover */
  transition: transform 0.3s ease;
}

/* enlarge image on hover to get a better look */
.image img:hover {
  transform: scale(1.5);
}

/* use rules only when story container is not empty */
#story:not(:empty) {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: rgb(115, 115, 115);
  border-radius: 20px;
  border-width: 1px;
  line-height: 1.5;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ellipsis {
  font-size: larger;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: black;
  transition: all 0.5s ease;
  font-size: 25px;
  font-family: "Bangers", system-ui;
  font-weight: 100;
  font-style: normal;
}

button:hover {
  letter-spacing: 3px;
  background-color: #3581fc;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(53 129 252) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: #3581fc;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(53 129 252) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

footer {
  padding: 15px;
}

/* 
Citation for loading indicator
Date: 5/16/2025
Copied from:  https://cssloaders.github.io/
*/

/* 
Citation for button styling
Date: 5/25/2025
Copied from: https://uiverse.io/barisdogansutcu/fuzzy-bullfrog-72 
*/